body{
    margin:0;
    background-color: #e1e1da;
}
#container {
    display: flex;                 
    flex-direction: row;            
    flex-wrap: nowrap;              
    background-color: #c9dddd;
    
  }
.divHeaderContent{
    width: 100%;
    justify-content: space-between;
}
.divImg, .divTitle, .divUser{
    /* width: 33%; */
}
.divImg{
    left: 0;
    position: absolute;
}
.divImg img{
    margin-left: 5%;
    max-width:25%!important;
    height:auto; 
}
.divTitle{
    width: 10%;
    margin:0 auto;
}
.divUser{
    right: 15px;
    bottom: 35px;
    position: relative;
    float: right;
}
.bodyContent{
    margin-left: 15%;
    margin-right: 15%;
    background-color: #fafbfd;
}

.btnLog, .colorFooter{
    background-color: #c9dddd;
}
.btnRecPass{
    background-color: #bbeebb;
}
.btnColor{
    background-color: #f6e8e8;
}
.cursor{
	cursor:pointer;
}
.divFilter{
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
    float: right;
}
.divLibros{
    clear: both;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-bottom: 25px;
    
}
.divInfoLib{
    justify-content: justify;
}
.textSize{
    font-size: 0.7rem;
}
.divFooter{
    width: 100%;
    justify-content: space-between;
    clear: both;
    display: flex;
}
.divFooter1{
    float: left;
    margin-left: 15px;
    
}
.divContacta{
    margin-right: 15px;
}

.divUs{
    width: 10%;
    margin:0 auto;
}
.divSelect{
  
    float: left;
} 
.selectCat{
    border: 1px solid #393939;
    border-radius: 5px 5px 5px 5px;
    color: #393939;
    font-size: 12px;
    padding: 5px;
}
.divInputSearch{
  
    float: right;
} 
.inputSearch{
    border: 1px solid #393939;
    border-radius: 5px 5px 5px 5px;
    color: #393939;
    font-size: 12px;
    padding: 5px;
}
img{
    display:block;
    margin:auto;
    }
.libro1,.libro2,.libro3,.libro4{
    text-align: justify;
}