#container {
    display: flex;                 
    flex-direction: row;            
    flex-wrap: nowrap;              
    background-color: #c9dddd;
    
  }
.divHeaderContent{
    width: 100%;
    justify-content: space-between;
}
.divImg, .divTitle, .divUser{
    /* width: 33%; */
}
.divImg{
    left: 0;
    position: absolute;
}
.divImg img{
    margin-left: 5%;
    max-width:25%!important;
    height:auto; 
}
.divTitle{
    width: 10%;
    margin:0 auto;
}
.divUser{
    left: 40vw;
    float: right;
}
.bodyContent{
    margin-left: 15%;
    margin-right: 15%;
}

.btnLog, .colorFooter{
    background-color: #c9dddd;
}
.btnRecPass{
    background-color: #bbeebb;
}
.btnColor{
    background-color: #f6e8e8;
}
.cursor{
	cursor:pointer;
}
.divFilter{
    float: right;
}
.divLibros{
    clear: both;
}
.divInfoLib{
    justify-content: justify;
}
.textSize{
    font-size: 0.7rem;
}
.divFooter{
    width: 100%;
    justify-content: space-between;
    clear: both;
    display: flex;
}
.divFooter1{
    float: left;
    
}

.divUs{
    width: 10%;
    margin:0 auto;
}
.divContacta{
  
    /* float: right;*/
} 